<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="locations">
  			<list>
  				<value>23/communicate/lxt_oracle.properties</value>
  				<value>23/communicate/communicate.properties</value>
  				<value>23/communicate/mmsg.properties</value>
  			</list>
  		</property>
  	</bean>

	<import resource="lxt_node.xml"/>
	<import resource="communicate/common/mtp_opphase.xml"/>
	<import resource="communicate/common/lxt_dbcp.xml"/>
	<import resource="communicate/common/lxt_oracle.xml"/>
	<import resource="communicate/common/hub.xml"/>
	<import resource="communicate/common/lxt_clientinfo.xml"/>
	<import resource="communicate/common/mts_common.xml"/>
	<import resource="communicate/common/resource_center.xml"/>
	
	<!-- begin -->
	<!-- 
	<import resource="communicate/proxyservice/db/ps_db_listenerfilters.xml"/>
	<import resource="communicate/proxyservice/db/ps_db_queue.xml"/> -->
	<import resource="communicate/proxyservice/ps_productverify.xml"/>	
	<import resource="communicate/proxyservice/ps_common.xml"/>
	<import resource="communicate/proxyservice/1003_ps_toexamine.xml"/>
	<import resource="communicate/proxyservice/1003_mod.xml"/>
	<import resource="communicate/proxyservice/1003_ps.xml"/>
	<import resource="communicate/proxyservice/1003_cbip_socket.xml"/>
	
	<import resource="communicate/proxyservice/1013_mod.xml"/>
	<import resource="communicate/proxyservice/1013_ps.xml"/>
	<import resource="communicate/proxyservice/1013_csa_socket.xml"/>
	
	<import resource="communicate/mtprocess/mtp_specialmobile.xml"/>
	<import resource="communicate/mtprocess/mtp_phase.xml"/>
	<import resource="communicate/mtprocess/mtp_mod_1103.xml"/>
	<import resource="communicate/mtprocess/mtp_1103.xml"/>
	<import resource="communicate/mtprocess/mtp_router.xml"/>
	<import resource="communicate/mtprocess/mtp_blacklist.xml"/>
	<import resource="communicate/mtprocess/mtp_blacklistMMS.xml"/>
	<import resource="communicate/mtprocess/mtp_keyword.xml"/>
	<import resource="communicate/mtprocess/mtp_keyword_gw.xml" />
	<import resource="communicate/mtprocess/mtp_duplicatefilter.xml" />

 	<import resource="communicate/moprocess/mop_mod_1403.xml"/>
		<import resource="communicate/mtprocess/mtp_blacklist_share.xml" />
	<import resource="communicate/moprocess/mop_router.xml"/>
	<import resource="communicate/moprocess/mop_1403.xml"/>

	<import resource="communicate/rptprocess/rpt_mod_1303.xml"/> 
	<!--import resource="communicate/clumped/Clumped_Mod_1503.xml"-->
	<import resource="communicate/mclumped/Clumped_config_1503.xml"/>
	<import resource="communicate/mclumped/Clumped_Mod_1503.xml"/>
<!--
	<import resource="communicate/mtsubmit/sms/2301_mod.xml"/>
	<import resource="communicate/mtsubmit/sms/2301_cmpp30.xml"/>
	<import resource="communicate/mtsubmit/sms/2302_mod.xml"/>
	<import resource="communicate/mtsubmit/sms/2302_cmpp20.xml"/>
	<import resource="communicate/mtsubmit/sms/2303_mod.xml"/>
	<import resource="communicate/mtsubmit/sms/2303_smgp.xml"/>
	<import resource="communicate/mtsubmit/sms/2304_mo_sgip.xml"/>
	<import resource="communicate/mtsubmit/sms/2304_mt_sgip.xml"/>
	<import resource="communicate/mtsubmit/sms/2304_mod.xml"/>
	<import resource="communicate/mtsubmit/sms/2308_empp.xml"/>
	<import resource="communicate/mtsubmit/sms/2308_mod.xml"/>
	<import resource="communicate/mtsubmit/sms/2306_mod.xml"/>
	<import resource="communicate/mtsubmit/sms/2306_mas.xml"/>
	<import resource="communicate/mtsubmit/sms/2307_mod.xml"/>
	<import resource="communicate/mtsubmit/sms/2307_cbip10.xml"/>
	<import resource="communicate/mtsubmit/sms/2309_mod.xml"/>
	<import resource="communicate/mtsubmit/sms/2309_cbip20.xml"/>
	-->
	<import resource="communicate/common/mime_context.xml"/>
	<import resource="communicate/common/lxt_ecinfo.xml" />
<!-- 	<import resource="communicate/mtsubmit/mms/2305_constants.xml"/>
	<import resource="communicate/mtsubmit/mms/2305_gateway.xml"/>
	<import resource="communicate/mtsubmit/mms/2305_queue.xml"/>
	<import resource="communicate/mtsubmit/mms/2305_listenerfilters.xml"/>
	<import resource="communicate/mtsubmit/mms/2305_mod.xml"/> -->

</beans>
